:root {
    --nav-background: #121212;
}

.blog-page {
    color: var(--accent-color)!important;
    text-decoration: none;
}

#blog-hero {
    border-bottom: var(--border);
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow-x: hidden;
}

#highlight {
    border-bottom: var(--border);
    padding-bottom: 2rem;
    overflow-x: hidden;
    position: relative;
}

#highlight:first-child {
    border-top-width: 2px;
    border-top-color: var(--title-color);
}

#highlight:last-child {
    border: none;
}


@media screen and (min-width: 1025px) {
    #highlight,
    #blog-hero {
        padding: 0;
    }

    .col-md-4 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .col-md-4:first-child {
        padding-left: 15px;
    }
    .col-md-4:last-child {
        padding-right: 15px;
    }

    .blog-hero .row {
        padding-left: 48px;
        padding-right: 48px;
    }
}

#highlight:first-child {
    margin-top: calc(2rem + 65px);
}

#highlight h2,
a,
a:hover {
    color: var(--title-color);
    font-family: var(--default-primary-font);
}

#highlight {
    padding: 2rem 0;
}

#highlight .img-fluid {
    height: 522px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

#highlight p, #blog-hero p {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

#blog-hero .row {
    padding-top: 65px;
    min-height: 100vh;
}

#highlight h3,
#blog-hero h3 {
    color: var(--rubric-color);
    font-family: var(--secondary-sans-font);
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0;
}

.blog-post-image {
    padding-top: 22px;
    padding-bottom: 22px;
    width: 100%;
}

.blog-post-format {
    display: block;
    padding-bottom: 2rem;
    color: var(--timestamp-color);
}

blockquote {
    border-left: var(--nav-border);
    border-width: 2px;
    padding-left: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
    #highlight, #blog-hero {
        padding-bottom: 2rem;
        height: 100%;
    }
    
    #highlight h3,
    #blog-hero h3 {
        margin-bottom: 1rem;
    }
    
    #highlight h2 {
        font-size: 26px;
        line-height: 1.05;
        letter-spacing: normal;
        font-weight: bolder;
    }
    
    #highlight .img-fluid {
        height: 340px;
    }
}

@media (max-width: 767.98px) {
    #highlight:first-child {
        margin-top: 65px;
    }

    #highlight, #blog-hero {
        padding-bottom: 0px;
    }
    #blog-hero {
        margin-top: 65px;
        border-bottom: none;
    }

    #blog-hero .row {
        padding-top: 0px;
        min-height: 100%;
    }

    #highlight .img-fluid {
        height: 320px;
        margin-bottom: 2rem;
        border-radius: 0;
    }

    #highlight {
        max-width: calc(100% - 32px); 
    }

    #blog-hero .row {
        height: 100%;
    }
}