:root {
    --background: #eeeeee;
    --nav-color: #000;
    --nav-background: var(--background);
    --border: 1px solid #47484c;
    --nav-border: 1px solid #47484c;
    --title-color: #121212;
    --secondary-color: #000;
    --paragraph-color: #000000;
    --rubric-color: #9aa0a6;
    --timestamp-color: #9aa0a6;
    --accent-color: red;
}

p {
    margin-bottom: 1.1em;
    line-height: 1;
    font-size: 21px;
    letter-spacing: -.03em;
    font-family: 'courier_10_pitch', Courier, monospace;
}

.blog-post-des {
    padding-right: 2.5%;
    padding-left: 2.5%;
}
.screen-title, .the-end {
    text-decoration: underline;
    text-align: center;
}
.the-end {
    font-weight: bold;
    padding-top: 1em;
}

.character {
      margin-left: 30%;
      margin-bottom: 0;
}

.parenthetical {
    margin-left: 20%;
    padding-right: 20%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.dialogue {
      display: block;
      margin-left: 15%;
      padding-bottom: 0;
      padding-right: 24%;
}

@media (max-width: 768px) {
    .blog-post-des {
        padding-right: 0;
        padding-left: 0;
    }
    p {
        font-size: 16px;
    }
    .character {
        margin-left: 40%;
    }
    .parenthetical {
        margin-left: 25%;
        padding-right: 25%;
    }
    .dialogue {
        padding-right: 20%;
    }
}