@font-face {
    font-family: 'Freig-I';
    src: url('../fonts/FreigDisProLigIta.ttf');
}

@font-face {
  font-family: 'FreigDispProBook-Regular';
  src: url('../fonts/FreigDispProBook-Regular.woff');
  font-weight: normal;
  font-style: normal;
} 

::-moz-selection { 
  color: var(--background);
  background: var(--paragraph-color);
}

::selection {
  color: var(--background);
  background: var(--paragraph-color);
}

h1,h2,h3,h4,h5,h6 {
  letter-spacing: 0.2px;
  font-style: normal;
}
  
h1 {
  padding-bottom: 14px;
  margin-bottom: 0px;
  font-family: var(--special-title-font);
}
  
h2,h3 {
  padding-bottom: 6px;
}

h4 {
  letter-spacing: 2px;
}

/* .blog-post-des {
  font-size: 18px;
} */

p {
  color: var(--paragraph-color);
  font-family: var(--default-paragraph-font);
  font-size: var(--paragraph-font-size);
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1em;
}

#home h1 {
  font-family: var(--special-title-font);
  font-size: 72px;
  color: var(--title-color);
}

#home h4 {
  color: var(--secondary-sans-color);
  font-family: var(--secondary-sans-font);
  font-weight: 300;
  font-size: 20px;
}

blockquote p {
  font-style: italic;
}

.blog-hero h1,
#blog-hero p {
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

#blog-hero p {
  font-size: 1.5rem;
  line-height: 1.9rem;
  padding-bottom: 2rem;
}

.blog-hero h1 {
  font-size: 3.5rem;
  font-family: var(--default-blog-title);
  color: var(--title-color);
  font-weight: 500;
  line-height: 3.7rem;
  letter-spacing: 1.1;
  padding: 2rem 0;
}

.blog-hero h3 {
  margin: 0;
  padding: 2rem 0;
}

.p {
  font-family: var(--default-paragraph-font);
  opacity: 0.6;
  font-weight: 300;
  font-size: 90%;
  letter-spacing: normal;
}

.p a:hover {
  border: none;
  text-decoration: none;
}

.read-more-link {
  color: var(--title-color);
  font-family: var(--secondary-sans-font);
  opacity: 0.6;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: normal;
  border-bottom: solid 1px var(--title-color);
}

.read-more-link:hover {
  text-decoration: none;
  font-family: var(--secondary-sans-font);
  color: var(--title-color);
  opacity: 1;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: normal;
  border-bottom: solid 1px var(--title-color);
}

#highlight h2 {
  font-size: 34px;
  line-height: 1.05;
  margin-bottom: 7px;
  letter-spacing: normal;
  font-weight: bolder;
}

#highlight h3 {
  margin-bottom: 1rem;
}

@media (max-width: 1025px) {
  .blog-hero h1 {
    font-size: 40px;
    line-height: 1.12em;
    padding: 2rem 0;
  }

  #blog-hero p {
    font-size: 22px;
    padding-bottom: 2rem;
  }

  #highlight h2 {
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: 1px;
    margin-bottom: 0;
  }

  #highlight h3,
  #blog-hero h3 {
    font-size: 12px;
    font-weight: 400;
  }

  #highlight p, #blog-hero p {
    margin-bottom: 0;
  }

  #highlight p {
    line-height: 1.2;
  }

}

@media (max-width: 569.98px) {
  p {
    font-size: 22px;
    line-height: 30px;
  }

  .blog-hero h1 {
    font-size: 40px;
    line-height: 1.1em;
    padding: 2rem 0;
  }

  #blog-hero p {
    font-size: 25px;
    padding-bottom: 2rem;
  }
}