@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@font-face {
    font-family: 'Freig-I';
    src: url('../fonts/FreigDisProLigIta.ttf');
}

@font-face {
    font-family: 'Freig';
    src: url('../fonts/FreigDisProLig.ttf');
}

h1,h2,h3,h4,h5,h6 {
  letter-spacing: -0.001em;
  font-weight: 600;
  font-style: normal;
}
  
h1 {
  padding-bottom: 14px;
  margin-bottom: 0px;
}
  
h2,h3 {
  padding-bottom: 6px;
}

h4 {
  letter-spacing: 2px;
}

.blog-post-des {
  font-size: 18px;
}

p {
  color: var(--paragraph-color);
  font-family: var(--default-secondary-font);
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 1em;
  letter-spacing: normal;
}

#home h1 {
  font-family: var(--default-primary-font);
  font-size: 72px;
  color: var(--title-color);
}

#home h4 {
  color: var(--secondary-sans-color);
  font-family: var(--secondary-sans-font);
  font-weight: 300;
  font-size: 20px;
}

