@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@font-face {
    font-family: 'Freig-I';
    src: url('../fonts/FreigDisProLigIta.ttf');
}

@font-face {
    font-family: 'Freig';
    src: url('../fonts/FreigDisProLig.ttf');
}

@font-face {
  font-family: 'FreigDispProBook-Regular';
  src: url('../fonts/FreigDispProBook-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

::-moz-selection { 
  color: var(--background);
  background: var(--paragraph-color);
}

::selection {
  color: var(--background);
  background: var(--paragraph-color);
}

h1,h2,h3,h4,h5,h6 {
  letter-spacing: 0.2px;
  font-style: normal;
}

em {
  font-family: 'Freig-I'!important;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1.3px;
}
  
h1 {
  padding-bottom: 14px;
  margin-bottom: 0px;
}
  
h2,h3 {
  padding-bottom: 6px;
}

h4 {
  letter-spacing: 2px;
}

.blog-post-des {
  font-size: 18px;
}

p {
  color: var(--paragraph-color);
  font-family: var(--default-secondary-font);
  font-size: 24px;
  font-weight: 200;
  line-height: 1.4;
  margin-bottom: 1em;
  letter-spacing: 0.9px;
}

#home h1 {
  font-family: var(--default-primary-font);
  font-size: 72px;
  color: var(--title-color);
}

#home h4 {
  color: var(--secondary-sans-color);
  font-family: var(--secondary-sans-font);
  font-weight: 300;
  font-size: 20px;
}

blockquote p {
  font-style: italic;  
}

@media (max-width: 569.98px) {
  p {
    font-size: calc(24px + (72 - 24) * (38vh - 320px)/ (1400 - 320));
    font-style: normal;
    font-weight: normal;
    line-height: 1.35;
    /* letter-spacing: 1px; */
  }
}