@font-face {
    font-family: 'Freig-I';
    src: url('../fonts/FreigDisProLigIta.ttf');
}
@font-face {
    font-family: 'Freig';
    src: url('../fonts/FreigDisProLig.ttf');
}
@font-face {
      font-family: 'argesta_displayregular';
      src: url('../fonts/argestadisplay-regular-webfont.eot');
      src: url('../fonts/argestadisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/argestadisplay-regular-webfont.woff2') format('woff2'),
           url('../fonts/argestadisplay-regular-webfont.woff') format('woff'),
           url('../fonts/argestadisplay-regular-webfont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }

:root {
    --height-of-header: calc(20vh + 54px + 4vh);
    --height-of-header-mobile: calc(1vh + 54px + 4vh);
    --height-hero-img: 38vh;
    --height-hero-img-mobile: 46vh;
  }

html {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Freig', 'argesta_displayregular', sans-serif;
    background-color:#dadada;

}

::selection {
    color: white;
    background-color: black;
}

/*---------------------------------------
    Preloader section
-----------------------------------------*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }
  
  .sk-spinner-wordpress.sk-spinner {
    background-color: #000000;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: relative;
    -webkit-animation: sk-innerCircle 1s linear infinite;
    animation: sk-innerCircle 1s linear infinite;
  }
  
  .sk-spinner-wordpress .sk-inner-circle {
    display: block;
    background-color: #ffffff;
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 8px;
    top: 5px;
    left: 5px;
  }
  
  @-webkit-keyframes sk-innerCircle {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0); }
  
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }
  
  @keyframes sk-innerCircle {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0); }
  
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }
  

/* TYPOGRAPHY */

.logo {
    font-family: 'argesta_displayregular';
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1;
}

.page-title {
    line-height: 1;
    margin-top: -0.5vw;
    font-family: 'Freig-I';
    font-size: 6vh;
    color: black;
}

.card {
    background-color: inherit;
}

.card-title {
    font-family: 'Freig';
    font-size: 3.2vh;
    margin-bottom: 1vh;
}

.card-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 2vh;
}

a {
    color: black;

}
a:hover {
    color: #757575;
    text-decoration: underline;
}
/* MENU  */

#navigation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    overflow-y: auto;
    pointer-events: none;
    transition: opacity 0.3s linear;
    opacity: 0;
    z-index: 99;
    background-color: black;
    overflow: hidden;
}

#navigation .row {
    height: 100vh;
    
}

#navigation nav {
  position: relative;
}

#navigation.active {
  opacity: 1;
  pointer-events: all;
}

#navigation .nav a {
  font-size: 9vh;
  font-family: 'Freig';
  color: white;
  font-weight: bold;
  padding: 0;
  transition: all 0.35s linear;
  
}
#navigation nav:hover > .nav-link {
    color: #757575;
}
#navigation nav .nav-link:hover {
    margin-left: 8%;
    color: white;

}


/* HEADER */

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    transition: opacity 0.3s linear;
    height: 64px;
    margin-top: 4vh;
    z-index: 100;
}

#header .container-fluid {
    height: 64px;
    position: relative;
    margin: 0 auto;
}

#header .btn {
    padding: 0;
    line-height: 0.8;
    border: none;
}

.logo {
      width: 64px;
      height: 64px;
}

#header .btn-link {
    color: black;
    font-size: 50px;
    transition: all 0.25s ease-in-out;
}

#header .btn-link:hover {
    color: #757575;
}
#header .btn-link.active {
    color: white;
    transition: all 0.25s ease-in-out;
}
#header .btn-link.active:hover {
    color: white;
    opacity: 0.5;
}

/* Main */


main {
    margin-top: var(--height-of-header);
    overflow-y: hidden;
} 

.container-fluid {
    padding: 0 6vw;
    overflow-x: hidden;
}

.main-content .container-fluid {
    padding: 0;
}
#hero-section {
    padding: 0 0 0 6vw;
    min-height: calc(100vh - var(--height-of-header));
    margin-bottom: 6vw;
}
.col-prim {
    margin-top: 3.3em;
}

#content .container-fluid {
    position: relative;
}
#hero-section .card-img-top {
    height: var(--height-hero-img);
}

.all-works .card {
    border: 0;
    padding: 6vw;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
    border-radius: 0;
}

.card-body {
    padding-left: 0;
}

@media (max-width: 991.99px) {
    .col-prim {
        margin-top: calc((90vh - var(--height-of-header) - var(--height-hero-img) - 100px - 6em - 6vh)/2);        
    }

    .all-works .card.left {
        padding-left: 0;
        padding-right: 13vw; 
    }
    .all-works .card.right {
        padding-right: 0;
        padding-left: 13vw; 
    }
    .all-works .left .card-body {
        padding-left: 13vw;
    }
    .all-works .right .card-body {
        padding-right: 13vw;
    }
    
    :root {
        --height-of-header: var(--height-of-header-mobile);
        --height-hero-img: var(--height-hero-img-mobile);
    }
}